body {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
}

div{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** animation */

@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.fadeInUp_animation{
    animation: fadeInUp 1.8s;
}

.animation{
    animation: blink-effect 2s infinite;
}


/** index page */
.background{
    width: 1080px;
    height: 1920px;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
}

.index_modal_cursor{
    position: absolute;
    top: 377px;
    left: 100px;
    z-index: 999;
}

.index_modal_text{
    position: absolute;
    top: 672px;
    left: 175px;
    animation: blink-effect 2s infinite;
}

.menu_container{
    position: absolute;
    top: 384px;
    left: 47px;
    z-index: 99;
}

.menu_container > img{
    margin-right: 3px;
}

.info_menu_box{
    position: absolute;
    top: 435px;
    left: -21px;
    animation: fadeInUp 0.8s;
}

.libial_button{
    position: absolute;
    top: 657px;
    left: 408px;
}

.libial_button_animation{
    position: absolute;
    top: 657px;
    left: 408px;
}

.web_menu_button{
    position: absolute;
    top: 460px;
    left: 169px;
}

.web_menu_box{
    position: absolute;
    top: 435px;
    left: -21px;
    animation: fadeInUp 0.3s;
}

.home_box{
    width: 1080px;
    height: 365px;
    position: absolute;
    top: 0;
    left: 0;
}


/** web page */
.web_btn_1 {
    position: absolute;
    top: 960px;
    left: 67px;
}

.web_btn_2 {
    position: absolute;
    top: 869px;
    left: 466px;
    animation: blink-effect 2s infinite;
}

.web_modal_1{
    position: absolute;
    top: 400px;
    left: 190px;
    z-index: 9999;
}

.web_modal_btn_1{
    position: absolute;
    top: 977px;
    left: 469px;
    z-index: 9999;
    animation: blink-effect 2s infinite;
}

.web_modal_1_close_btn{
    /* background-color: brown; */
    width: 50px;
    height: 50px;
    position: absolute;
    top: 415px;
    left: 820px;
    z-index: 9999;
}

.web_modal_2{
    position: absolute;
    top: 500px;
    left: 190px;
    z-index: 9999;
}

.web_modal_btn_2{
    position: absolute;
    top: 801px;
    left: 468px;
    z-index: 9999;
    animation: blink-effect 2s infinite;
}

.web_modal_2_close_btn{
    /* background-color: brown; */
    width: 50px;
    height: 50px;
    position: absolute;
    top: 520px;
    left: 820px;
    z-index: 9999;
}

.web_modal_input_1{
    width: 569px;
    height: 49px;
    border: 1px solid #CECECE;
    border-radius: 8px;
    position: absolute;
    top: 764px;
    left: 261px;
    z-index: 9999;
    padding-left: 8px;
}

.web_modal_input_2{
    width: 569px;
    height: 49px;
    border: 1px solid #CECECE;
    border-radius: 8px;
    position: absolute;
    top: 885px;
    left: 260px;
    z-index: 9999;
    padding-left: 8px;
}

.checkBox_1{
    background-color: #CCC;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 667px;
    left: 263px;
    z-index: 9999;
}

.checkBox_2{
    background-color: #CCC;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 667px;
    left: 408px;
    z-index: 9999;
}

.checkBox_3{
    background-color: #CCC;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 667px;
    left: 603px;
    z-index: 9999;
}

.label_1{
    width: 70px;
    height: 39px;
    position: absolute;
    top: 660px;
    left: 296px;
    z-index: 9999;
}

.label_2{
    width: 100px;
    height: 39px;
    position: absolute;
    top: 660px;
    left: 441px;
    z-index: 9999;
}

.label_3{
    width: 70px;
    height: 39px;
    position: absolute;
    top: 660px;
    left: 636px;
    z-index: 9999;
}


/** web page 2 */

.live_button{
    position: absolute;
    top: 869px;
    left: 686px;
}

.web_video{
    width: 940px;
    height: 596px;
    position: absolute;
    top: 769px;
    left: 70px;
}


/** edu page */

.edu_btn_1{
    position: absolute;
    top: 1021px;
    left: 70px;
}

.edu_modal_1{
    position: absolute;
    top: 400px;
    left: 190px;
    z-index: 9999;
}

.edu_modal_btn_1{
    position: absolute;
    top: 1028px;
    left: 460px;
    animation: blink-effect 2s infinite;
    z-index: 9999;
}

.edu_modal_1_close_btn{
    /* background-color: brown; */
    position: absolute;
    top: 420px;
    left: 820px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

.edu_modal_2{
    position: absolute;
    top: 500px;
    left: 190px;
    z-index: 9999;
}

.edu_modal_btn_2{
    position: absolute;
    top: 795px;
    left: 460px;
    animation: blink-effect 2s infinite;
    z-index: 9999;
}

.edu_modal_2_close_btn{
    /* background-color: brown; */
    position: absolute;
    top: 520px;
    left: 820px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

.edu_modal_input_1{
    width: 572px;
    height: 50px;
    border: 1px solid #CECECE;
    border-radius: 8px;
    position: absolute;
    top: 745px;
    left: 257px;
    z-index: 9999;
    padding: 8px;
}

.edu_modal_input_2{
    width: 572px;
    height: 120px;
    border: 1px solid #CECECE;
    border-radius: 8px;
    position: absolute;
    top: 877px;
    left: 257px;
    z-index: 9999;
    resize: none;
    padding: 8px;
}


/** etonogestrel page */

.eton_btn_1{
    position: absolute;
    top: 870px;
    left: 613px;
}

.eton_btn_2{
    position: absolute;
    top: 1263px;
    left: 744px;
}

.eton_modal_1{
    position: absolute;
    top: 400px;
    left: 190px;
    z-index: 9999;
}

.eton_modal_1_close_btn{
    /* background-color: brown; */
    position: absolute;
    top: 415px;
    left: 820px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

.eton_modal_btn_1{
    position: absolute;
    top: 1085px;
    left: 686px;
    animation: blink-effect 2s infinite;
    z-index: 9999;
}

.eton_modal_2{
    position: absolute;
    top: 500px;
    left: 190px;
    z-index: 9999;
}

.eton_modal_2_close_btn{
    /* background-color: brown; */
    position: absolute;
    top: 520px;
    left: 820px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

.eton_modal_btn_2{
    position: absolute;
    top: 795px;
    left: 460px;
    animation: blink-effect 2s infinite;
    z-index: 9999;
}

.eton_video{
    position: absolute;
    top: 743px;
    left: 35px;
    width: 1006px;
    height: 944px;
}

.next_page{
    /* background-color: brown; */
    width: 236px;
    height: 76px;
    position: absolute;
    top: 1738px;
    left: 423px;
}

.eton_check_1{
    width: 26px;
    height: 26px;
    background-color: #CCC;
    position: absolute;
    top: 721px;
    left: 249px;
    z-index: 9999;
}

.eton_check_2{
    width: 26px;
    height: 26px;
    background-color: #CCC;
    position: absolute;
    top: 862px;
    left: 249px;
    z-index: 9999;
}

.eton_label_1{
    width: 341px;
    height: 45px;
    position: absolute;
    top: 712px;
    left: 282px;
    z-index: 9999;
}

.eton_label_2{
    width: 306px;
    height: 45px;
    position: absolute;
    top: 854px;
    left: 282px;
    z-index: 9999;
}
ffedc8edddd1ae353

/** connect page */
.connect_1_img_box > .connect_1_btn {
    position: absolute;
    top: 1306px;
    left: 340px;  
    z-index: 999;  
}

.gray_btn{
    position: absolute;
    top: 1386px;
    left: 840px;
}

.orange_btn{
    position: absolute;
    top: 1386px;
    left: 840px;
    animation: blink-effect 2s infinite;
}

.select_box_1{
    position: absolute;
    border: 3px solid #FF4E00;
    border-radius: 8px;
    top: 1062px;
    left: 80px;
    width: 919px;
    height: 54px;
    animation: blink-effect 2s infinite;
}

.option_box_1{
    position: absolute;
    top: 1058px;
    left: 73px;
    width: 934px;
    height: 210px;
}

.option_1{
    position: absolute;
    top: 1104px;
    left: 99px;
    animation: blink-effect 2s infinite;
}

.select_box_2{
    position: absolute;
    border: 3px solid #FF4E00;
    border-radius: 8px;
    top: 1176px;
    left: 80px;
    width: 918px;
    height: 54px;
    animation: blink-effect 2s infinite;
}

.option_box_2{
    position: absolute;
    top: 1175px;
    left: 73px;
    width: 934px;
    height: 140px;
}

.option_2{
    position: absolute;
    top: 1215px;
    left: 99px;
    animation: blink-effect 2s infinite;
}

.connect_modal{
    position: absolute;
    top: 500px;
    left: 190px;
}

.connect_modal_btn{
    position: absolute;
    top: 816px;
    left: 468px;
    animation: blink-effect 2s infinite;
}